collectors:
  enabled: {{ prometheus_enabled_collectors }}
collector:
  service:
    include: "(DHCPServer|DHCP Management)"
log:
  level: warn
telemetry:
  addr: ":9182"
  path: /metrics
  max-requests: 5
