collectors:
  enabled: {{ prometheus_enabled_collectors }}
collector:
  service:
    services-where: "Name='print management' OR Name='spooler' OR Name='winlogbeat'"
log:
  level: warn
telemetry:
  addr: ":9182"
  path: /metrics
  max-requests: 5
